# PostgreSQL接続情報（docker-compose.ymlと合わせる）
POSTGRES_USER=devuser
POSTGRES_PASSWORD=devassword
POSTGRES_DB=****

# Prismaの接続URL（上の値と合わせる）
DATABASE_URL="postgresql://devuser:devpassword@localhost:5432/****"
